.chips-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 400px;
        overflow-x: scroll;
      }
      
      .chip {
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 16px;
        border: 1px solid darkgray;
        border-radius: 10px;
        margin: 4px;
        background-color: lightgray;
      }
      
      .remove-chip {
        font-size: 12px;
        cursor: pointer;
        margin-left: 8px;
      }
      
      .chips-input {
        flex: 1;
        height: 32px;
        font-size: 16px;
        border: none;
        outline: none;
      }
      